h2 {
  border-bottom: solid 1px black;
}

.dropdown-custom {
    margin: 0;
    height: 100%;
    padding: 0;
    display: block !important;
    color: white;
    clear: both;
}

.dropdown-custom a{
    margin: 0;
    height: 100%;
    padding: 0;
    display: block !important;
    color: white;
}

.dropdown-custom li {
    display: none;
    padding: 10px;

}

.dropdown-custom:hover li {
    display: block;
    position: absolute;
}